# build helpers
pip==25.1.1
setuptools>=69
wheel>=0.42

# scientific stack
numpy==1.26.4
scipy==1.11.4

# librosa + JIT deps
librosa==0.10.2.post1
numba==0.59.1
llvmlite==0.42.0

# audio I/O
soundfile==0.12.1
audioread==3.0.1

# MIDI
pretty_midi==0.2.10
mido==1.3.2


Flask==3.0.3
gunicorn==22.0.0
